a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: rgb(219, 227, 199);

}

.logo{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

ul{
    display: flex;
    justify-content: space-between;
    /* padding: 1rem; */
}

ul li{
    list-style: none;
    padding:0 2rem;

}